<!-- Auth Modal -->
<app-modal modalID="auth">

    <p class="text-2xl font-bold" heading>Your Account</p>

    <!-- Tabs -->
    <app-tabs-container>
        <!-- login -->
        <app-tab tabTitle="Login">
            <app-login></app-login>
        </app-tab>
        
        <!-- register -->
        <app-tab tabTitle="Signup">
            <app-register></app-register>
        </app-tab>
    </app-tabs-container>

</app-modal>

<!-- <app-modal modalID="test">
    test modal
</app-modal> -->